<div class="main-wizard-codehouse">
  <div class="header-logo">
    <a href="/"><img src="{{'the-bra-lab.png' | asset_url}}" alt="The Bra Lab"></a>
    <span class="right-menu"><span class="red-color">Free</span> <a href="/pages/shipping-returns">Exchanges & Returns!</a> <a href="#cart" class="icon-cart cart-button"><span>{{cart.item_count}}</span></a></span>
  </div>
  <div class="main-wizard-form">
  <div class="content-section">
    <input type="hidden" name="form_type" value="product">
    <input type="hidden" name="utf8" value="✓">
    <!-- Newsletter popup -->
    <section class="section question" id="section-newsletter" style="display: none;">
       <div class="newsletter-container">
         <span class="newsletter-close">X</span>
         <p class="overlay-section">Get the list for new size releases.</p>
         <div class="newsletter">
           <p class="message"></p>
           {% if section.settings.enable_klaviyo %}
           <form id="email_signup" class="klaviyo_styling klaviyo_gdpr_embed_{{section.settings.klaviyo_list_id}} email-capture__form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
             <input type="hidden" name="g" value="{{section.settings.klaviyo_list_id}}">
             <label for="k_id_email" class="sr-only email-capture__label" style="display:none;">Email Address</label>
             <input class="email-capture__input transparent-field" type="email" value="" name="email" id="k_id_email" placeholder="email123@gmail.com"/>
             <button type="submit" class="klaviyo_submit_button btn newsletter-button">Subscribe</button>
             <div class="klaviyo_messages">
               <p class="success_message" style="display:none;"></p>
               <p class="error_message" style="display:none;"></p>
             </div>
           </form>
           {% else %}
           {% form 'customer' %}
           {% if form.posted_successfully? %}
           <p><em>{{ 'general.newsletter_form.success_text' | t }}</em></p>{% elsif form.errors %}{% for field in form.errors %}
           <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>{% endfor %}{% endif %}
           <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
           <input type="hidden" name="contact[first_name]" value="{{ 'general.newsletter_form.subscriber_first_name' | t }}" />
           <input type="hidden" name="contact[last_name]" value="{{ 'general.newsletter_form.subscriber_last_name' | t }}" />
           <input type="email" class="transparent-field" id="email" name="contact[email]" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="email address" />
           <button type='submit' class="btn newsletter-button">{{ 'general.newsletter_form.submit' | t }}</button>
           {% endform %}
           {% endif %}
         </div>
         <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
         <script type="text/javascript"> KlaviyoSubscribe.attachToForms('#email_signup', { hide_form_on_success: true, extra_properties: { $source: 'HomePageSignUp', Brand: 'Klaviyo' } }); </script>
      </div>
    </section>
    <section class="section question activate" id="section-get-started">
    <!-- Section Get Started -->
     <div class="container-set">
      <div class="content-center-none">
        <div class="section-space"></div>
        <span class="section-title">Build your</span>
        <p class="main-title">
          <span class="pink">p</span>
          <span class="blue">e</span>
          <span class="green">r</span>
          <span class="red">f</span>
          <span class="pink">e</span>
          <span class="blue">c</span>
          <span class="green">t</span>
        </p>
        <p class="main-title bottomm">
          <span class="red">b</span>
          <span class="blue">r</span>
          <span class="green">a</span>
          <span class="pink">.</span>
        </p>
        <a href="#" class="btn button next-section" id="setp-0">Get Started</a>
      </div>
      <div class="fields-set flex">
        <div class="four columns alpha">
          <img src="{{'icon-001.png' | asset_url}}" alt="Conserving water" class="icon-set">
          <p class="content-space">Conserving water<br>and zero toxic products</p>
        </div>
        <div class="four columns">
          <img src="{{'icon-002.png' | asset_url}}" alt="Generating more renewable" class="icon-set">
          <p class="content-space">Generating more renewable<br>energy than we consume</p>
        </div>
        <div class="four columns">
          <img src="{{'icon-003.png' | asset_url}}" alt="Interchangeable backs and straps" class="icon-set">
          <p class="content-space">Interchangeable backs and straps<br>gives you more looks for less</p>
        </div>
        <div class="four columns omega">
          <img src="{{'icon-004.png' | asset_url}}" alt="Extra loops" class="icon-set">
          <p class="content-space">Extra loops gives you options to<br>show or hide with any neckline</p>
        </div>
      </div>
     </div>
    </section>
    <section class="section question" id="section-1" style="display: none;">
    <!-- Section 1 -->
     <div class="container-set">
      <div class="content-center">
        <span class="second-title">Step 1</span>
        <span class="section-title">Tell us your size.</span>
        <p class="bold">Enough about me, Let's talk about you.</p>
        
      </div>
      <div class="fields-set flex">
        <div class="eight columns alpha">
          <p class="content-space inline-block">
            <label for="bra-size" class="size-label">My Band Size Is</label>
            <select id="bra-size" size="number" class="bra-size-selector">
              <option value="24">24</option>
              <option value="26">26</option>
              <option value="28">28</option>
              <option value="30">30</option>
              <option value="32">32</option>
              <option value="34">34</option>
              <option value="36">36</option>
              <option value="38">38</option>
              <option value="40">40</option>
              <option value="42">42</option>
              <option value="44">44</option>
            </select>
          </p>
        </div>
        <div class="eight columns omega">
          <p class="content-space inline-block">
       		<label for="cup-size" class="size-label">My Cup Size Is</label>
            <select id="cup-size" class="bra-size-selector">
              <option data-group="Show" value="0">Select</option>
              <option data-group="32" value="AA SMALL" data-cupsize="AA" data-backssize="Small">A</option>
              <option data-group="34" value="AA MEDIUM" data-cupsize="AA" data-backssize="Medium">A</option>
              <option data-group="36" value="A LARGE" data-cupsize="A" data-backssize="Large">A</option>
              <option data-group="38" value="B LARGE" data-cupsize="B" data-backssize="Large">A</option>
              <option data-group="40" value="C XLARGE" data-cupsize="C" data-backssize="XLarge">A</option>
              <option data-group="42" value="D XLARGE" data-cupsize="D" data-backssize="XLarge">A</option>
              <option data-group="44" value="DD XLARGE" data-cupsize="DD" data-backssize="XLarge">A</option>
              <option data-group="36" value="AA LARGE" data-cupsize="AA" data-backssize="Large">AA</option>
              <option data-group="38" value="A LARGE" data-cupsize="A" data-backssize="Large">AA</option>
              <option data-group="40" value="B XLARGE" data-cupsize="B" data-backssize="XLarge">AA</option>
              <option data-group="42" value="C XLARGE" data-cupsize="C" data-backssize="XLarge">AA</option>
              <option data-group="44" value="D XLARGE" data-cupsize="D" data-backssize="XLarge">AA</option>
              <option data-group="30" value="AA SMALL" data-cupsize="AA" data-backssize="Small">B</option>
              <option data-group="32" value="AA MEDIUM" data-cupsize="AA" data-backssize="Medium">B</option>
              <option data-group="34" value="A MEDIUM" data-cupsize="A" data-backssize="Medium">B</option>
              <option data-group="36" value="B LARGE" data-cupsize="B" data-backssize="Large">B</option>
              <option data-group="38" value="C LARGE" data-cupsize="C" data-backssize="Large">B</option>
              <option data-group="40" value="D XLARGE" data-cupsize="D" data-backssize="XLarge">B</option>
              <option data-group="42" value="DD XLARGE" data-cupsize="DD" data-backssize="XLarge">B</option>
              <option data-group="44" value="DDD XLARGE" data-cupsize="DDD" data-backssize="XLarge">B</option>
              <option data-group="28" value="AA XSMALL" data-cupsize="AA" data-backssize="XSmall">C</option>
              <option data-group="30" value="AA SMALL" data-cupsize="AA" data-backssize="Small">C</option>
              <option data-group="32" value="A MEDIUM" data-cupsize="A" data-backssize="Medium">C</option>
              <option data-group="34" value="B MEDIUM" data-cupsize="B" data-backssize="Medium">C</option>
              <option data-group="36" value="C LARGE" data-cupsize="C" data-backssize="Large">C</option>
              <option data-group="38" value="D LARGE" data-cupsize="D" data-backssize="Large">C</option>
              <option data-group="40" value="DD XLARGE" data-cupsize="DD" data-backssize="XLarge">C</option>
              <option data-group="42" value="DDD XLARGE" data-cupsize="DDD" data-backssize="XLarge">C</option>
              <option data-group="44" value="G XLARGE" data-cupsize="G" data-backssize="XLarge">C</option>
              <option data-group="26" value="AA XSMALL" data-cupsize="AA" data-backssize="XSmall">D</option>
              <option data-group="28" value="AA SMALL" data-cupsize="AA" data-backssize="Small">D</option>
              <option data-group="30" value="A SMALL" data-cupsize="A" data-backssize="Small">D</option>
              <option data-group="32" value="B SMALL" data-cupsize="B" data-backssize="Small">D</option>
              <option data-group="34" value="C MEDIUM" data-cupsize="C" data-backssize="Medium">D</option>
              <option data-group="36" value="D LARGE" data-cupsize="D" data-backssize="Large">D</option>
              <option data-group="38" value="DD LARGE" data-cupsize="DD" data-backssize="Large">D</option>
              <option data-group="40" value="DDD XLARGE" data-cupsize="DDD" data-backssize="XLarge">D</option>
              <option data-group="42" value="G XLARGE" data-cupsize="G" data-backssize="XLarge">D</option>
              <option data-group="44" value="H XLARGE" data-cupsize="H" data-backssize="XLarge">D</option>
              <option data-group="24" value="AA XSMALL" data-cupsize="AA" data-backssize="XSmall">DD</option>
              <option data-group="26" value="AA SMALL" data-cupsize="AA" data-backssize="Small">DD</option>
              <option data-group="28" value="A SMALL" data-cupsize="A" data-backssize="Small">DD</option>
              <option data-group="30" value="B SMALL" data-cupsize="B" data-backssize="Small">DD</option>
              <option data-group="32" value="C SMALL" data-cupsize="C" data-backssize="Small">DD</option>
              <option data-group="34" value="D MEDIUM" data-cupsize="D" data-backssize="Medium">DD</option>
              <option data-group="36" value="DD LARGE" data-cupsize="DD" data-backssize="Large">DD</option>
              <option data-group="38" value="DDD LARGE" data-cupsize="DDD" data-backssize="Large">DD</option>
              <option data-group="40" value="G XLARGE" data-cupsize="G" data-backssize="XLarge">DD</option>
              <option data-group="42" value="H XLARGE" data-cupsize="H" data-backssize="XLarge">DD</option>
              <option data-group="24" value="AA XSMALL" data-cupsize="AA" data-backssize="XSmall">DDD</option>
              <option data-group="26" value="A XSMALL" data-cupsize="A" data-backssize="XSmall">DDD</option>
              <option data-group="28" value="B SMALL" data-cupsize="B" data-backssize="Small">DDD</option>
              <option data-group="30" value="C SMALL" data-cupsize="C" data-backssize="Small">DDD</option>
              <option data-group="32" value="D SMALL" data-cupsize="D" data-backssize="Small">DDD</option>
              <option data-group="34" value="DD MEDIUM" data-cupsize="DD" data-backssize="Medium">DDD</option>
              <option data-group="36" value="DDD LARGE" data-cupsize="DDD" data-backssize="Large">DDD</option>
              <option data-group="38" value="G LARGE" data-cupsize="G" data-backssize="Large">DDD</option>
              <option data-group="40" value="H XLARGE" data-cupsize="H" data-backssize="XLarge">DDD</option>
              <option data-group="24" value="AA XSMALL" data-cupsize="AA" data-backssize="XSmall">E</option>
              <option data-group="26" value="AA SMALL" data-cupsize="AA" data-backssize="Small">E</option>
              <option data-group="28" value="A SMALL" data-cupsize="A" data-backssize="Small">E</option>
              <option data-group="30" value="B SMALL" data-cupsize="B" data-backssize="Small">E</option>
              <option data-group="32" value="C SMALL" data-cupsize="C" data-backssize="Small">E</option>
              <option data-group="34" value="D MEDIUM" data-cupsize="D" data-backssize="Medium">E</option>
              <option data-group="36" value="DD LARGE" data-cupsize="DD" data-backssize="Large">E</option>
              <option data-group="38" value="DDD LARGE" data-cupsize="DDD" data-backssize="Large">E</option>
              <option data-group="40" value="G XLARGE" data-cupsize="G" data-backssize="XLarge">E</option>
              <option data-group="42" value="H XLARGE" data-cupsize="H" data-backssize="XLarge">E</option>
              <option data-group="24" value="AA XSMALL" data-cupsize="AA" data-backssize="XSmall">F</option>
              <option data-group="26" value="A XSMALL" data-cupsize="A" data-backssize="XSmall">F</option>
              <option data-group="28" value="B SMALL" data-cupsize="B" data-backssize="Small">F</option>
              <option data-group="30" value="C SMALL" data-cupsize="C" data-backssize="Small">F</option>
              <option data-group="32" value="D SMALL" data-cupsize="D" data-backssize="Small">F</option>
              <option data-group="34" value="DD MEDIUM" data-cupsize="DD" data-backssize="Medium">F</option>
              <option data-group="36" value="DDD LARGE" data-cupsize="DDD" data-backssize="Large">F</option>
              <option data-group="38" value="G LARGE" data-cupsize="G" data-backssize="Large">F</option>
              <option data-group="40" value="H XLARGE" data-cupsize="H" data-backssize="XLarge">F</option>
              <option data-group="24" value="A XSMALL" data-cupsize="A" data-backssize="XSmall">G</option>
              <option data-group="26" value="B SMALL" data-cupsize="B" data-backssize="Small">G</option>
              <option data-group="28" value="C SMALL" data-cupsize="C" data-backssize="Small">G</option>
              <option data-group="30" value="D SMALL" data-cupsize="D" data-backssize="Small">G</option>
              <option data-group="32" value="DD SMALL" data-cupsize="DD" data-backssize="Small">G</option>
              <option data-group="34" value="DDD MEDIUM" data-cupsize="DDD" data-backssize="Medium">G</option>
              <option data-group="36" value="G LARGE" data-cupsize="G" data-backssize="Large">G</option>
              <option data-group="38" value="H LARGE" data-cupsize="H" data-backssize="Large">G</option>
              <option data-group="40" value="H XLARGE" data-cupsize="H" data-backssize="XLarge">G</option>
              <option data-group="24" value="B XSMALL" data-cupsize="B" data-backssize="XSmall">H</option>
              <option data-group="26" value="C SMALL" data-cupsize="C" data-backssize="Small">H</option>
              <option data-group="28" value="D SMALL" data-cupsize="D" data-backssize="Small">H</option>
              <option data-group="30" value="DD SMALL" data-cupsize="DD" data-backssize="Small">H</option>
              <option data-group="32" value="DDD SMALL" data-cupsize="DDD" data-backssize="Small">H</option>
              <option data-group="34" value="G SMALL" data-cupsize="G" data-backssize="Small">H</option>
              <option data-group="36" value="H LARGE" data-cupsize="H" data-backssize="Large">H</option>
              <option data-group="38" value="H XLARGE" data-cupsize="H" data-backssize="XLarge">H</option>
              <option data-group="24" value="C XSMALL" data-cupsize="C" data-backssize="XSmall">I</option>
              <option data-group="26" value="D SMALL" data-cupsize="D" data-backssize="Small">I</option>
              <option data-group="28" value="DD SMALL" data-cupsize="DD" data-backssize="Small">I</option>
              <option data-group="30" value="DDD SMALL" data-cupsize="DDD" data-backssize="Small">I</option>
              <option data-group="32" value="G SMALL" data-cupsize="G" data-backssize="Small">I</option>
              <option data-group="34" value="H MEDIUM" data-cupsize="H" data-backssize="Medium">I</option>
              <option data-group="36" value="H LARGE" data-cupsize="H" data-backssize="Large">I</option>
              <option data-group="24" value="D XSMALL" data-cupsize="D" data-backssize="XSmall">J</option>
              <option data-group="26" value="DD SMALL" data-cupsize="DD" data-backssize="Small">J</option>
              <option data-group="28" value="DDD SMALL" data-cupsize="DDD" data-backssize="Small">J</option>
              <option data-group="30" value="G SMALL" data-cupsize="G" data-backssize="Small">J</option>
              <option data-group="32" value="H SMALL" data-cupsize="H" data-backssize="Small">J</option>
            </select>
          </p>
        </div>
      </div>
      <input type="hidden" id="cup-size-value" value="">
      <div class="content-center">
          <div class="section-space"></div>
          <a href="#" class="btn button next-section disable" id="setp-1">Next</a>
      </div>
      <div class="bottom">
      	<p class="newsletter-text">Don't see your size? We're working on expanding our sizes<br> <a class="newsletter-link" href="#" id="newsletter-link" style="text-decoration:underline;"><span class="newsletter-span">Get on the list</span></a> to find out when we release new sizes and products.</p>
      </div>
     </div>
    </section>
    <section class="section question" id="section-2" style="display: none;">
    <!-- Section 2 -->
     <div class="container-set">
      <div class="content-center">
        <span class="second-title">Step 2</span>
        <span class="section-title">Choose your cup style ...</span>
        <p>This will be quick, we promise.</p>
      </div>
      <div class="fields-set">
        {% assign variantcount = 1 %}
        {% paginate collections['cups'].products by 1000 %}
        {% for product in collections['cups'].products %}
        <div class="one-third column cup-size-container{% for product_option in product.options_with_values %}{% if product_option.name == 'Color' %}{% for value in product_option.values %}{% assign selectcolor = value | remove: 'Manhattan ' | remove: 'Abu Dhabi '%}{% if selectcolor != 'Black' %} disabled{% endif %}{% endfor %}{% endif %}{% endfor %}" data-color="{% for product_option in product.options_with_values %}{% if product_option.name == 'Color' %}{% for value in product_option.values %}{{value | remove: 'Manhattan ' | remove: 'Abu Dhabi '}}{% endfor %}{% endif %}{% endfor %}">
          <a href="#" class=""><img class="cup-size" src="{{product.featured_image | img_url: '700x700'}}" alt="{{product.title | escape}}"></a>
          <div class="stock" style="display: none;">Out of Stock</div>
          <div class="overlay">
            <div class="text">
              <span class="product-title">{{product.title}}</span>
              <span class="product-price">{{product.price | money}}</span>
              <select name="disabled" class="variant-cup-size" id="variant-{% increment variantcount %}" style="display:none;">{% for variant in product.variants %}
                <option{% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-stock="{% if variant.available %}true{% else %}false{% endif %}" value="{{variant.id}}" data-cupsize="{{variant.title | split: ' / ' | first}}">{{variant.title}}{% if variant.available %}{% else %} - {{ 'products.product.sold_out' | t }}{% endif %}</option>{% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endpaginate %}
      </div>
      <div class="content-center">
        <div class="section-space-30"></div>
        <p class="section-title">... and color.</p>
      </div>
      <div class="fields-set second-row center">
        <div class="color-content flex" id="selectcolor">
          <a href="#" class="color-selector black selected-border" data-color="Black"></a>
      	  <a href="#" class="color-selector skin" data-color="Beige"></a>
        </div>
      </div>
      <div class="content-center">
        <a href="#" class="btn button next-section" id="setp-2">Next</a>
      </div>
       <div class="space"></div>
     </div>
     <div class="container-set" style="display:none;">
       <div class="one-full column notfound-container">
          <div class="section-space"></div>
          <p class="main-title">
            <span class="pink">0</span>
            <span class="red">h</span>
            <span class="blue">&nbsp;</span>
            <span class="blue">n</span>
            <span class="pink">0</span>
            <span class="green">!</span>
          </p>
          <p class="bold top">We are working on expanding our sizing. Please let us know<br>what size you are looking for! Send us an email at<br><a href="mailto:shop@thebralab.com" class="red">shop@thebralab.com</a></p>
          <div class="content-center">
            <div class="section-space"></div>
            <div class="checkout-feilds">
              <p class="newsletter-text">
                <a class="newsletter-link" href="#" id="newsletter-link" style="text-decoration:underline;"><span class="newsletter-span">Get on the list</span></a> to find out when we release new sizes and products.</p>
                <a href="#" class="btn button" id="open-newsletter">Get on the list</a>
            </div>
          </div>
       </div>
      </div>
    </section>
    <section class="section question" id="section-3" style="display: none;">
    <!-- Section 3 -->
     <div class="container-set">
      <div class="content-center">
        <span class="second-title">Step 3</span>
        <span class="section-title">Choose your band(s)</span>
        <p class="bold">They are interchangable, so you get multiple looks for less!</p>
      </div>
      <div class="fields-set">
        {% paginate collections['backs'].products by 1000 %}
        {% for product in collections['backs'].products %}
        <div class="one-third column backs-size-container{%comment%}{% for product_option in product.options_with_values %}{% if product_option.name == 'Color' %}{% for value in product_option.values %}{% if value != 'Black' %} disabled{% endif %}{% endfor %}{% endif %}{% endfor %}{%endcomment%}" data-color="{% for product_option in product.options_with_values %}{% if product_option.name == 'Color' %}{% for value in product_option.values %}{{value}}{% endfor %}{% endif %}{% endfor %}">
          <a href="#" class=""><img class="cup-size" src="{{product.featured_image | img_url: '700x700'}}" alt="{{product.title | escape}}"></a>
          <div class="stock" style="display: none;">Out of Stock</div>
          <div class="overlay">
            <div class="text">
              <span class="product-title">{{product.title}}</span>
              <span class="product-price">{{product.price | money}}</span>
              <select name="disabled" class="variant-backs-size" id="variant-{% increment variantcount %}" style="display:none;">{% for variant in product.variants %}
                <option{% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-stock="{% if variant.available %}true{% else %}false{% endif %}" value="{{variant.id}}" data-backssize="{{variant.title | split: ' / ' | first}}">{{ variant.title }}{% if variant.available %}{% else %} - {{ 'products.product.sold_out' | t }}{% endif %}</option>{% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endpaginate %}
      </div>
      
      <a href="#" class="btn button next-section" id="setp-3">Next</a>
      <div class="space"></div>
     </div>
    </section>
    
    <section class="section question" id="section-4" style="display: none;">
    <!-- Section 4 -->
     <div class="container-set">
      <div class="content-center">
        <span class="second-title">Step 4</span>
        <span class="section-title">Add some fun straps.</span>
        <p class="bold">one, two, pick a few.</p>
      </div>
      <div class="fields-set">
        {% paginate collections['straps'].products by 1000 %}
        {% for product in collections['straps'].products %}
        <div class="one-third column straps-size-container{%comment%}{% for tag in product.tags %}{% if tag != 'Black' %} disabled{% endif %}{% endfor %}{%endcomment%}" data-color="{% for tag in product.tags %}{% if tag == 'Black' or tag == 'Beige' %}{{tag}}{% endif %}{% endfor %}">
          <a href="#" class=""><img class="cup-size" src="{{product.featured_image | img_url: '700x700'}}" alt="{{product.title | escape}}"></a>
          <div class="overlay">
            <div class="text">
              <span class="product-title">{{product.title}}</span>
              <span class="product-price">{{product.price | money}}</span>
              <select name="disabled" class="variant-straps-size" id="variant-{% increment variantcount %}"{% if product.options.size < 2 %} style="display:none;"{% endif %}>{% for variant in product.variants %}
                <option{% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-stock="{% if variant.available %}true{% else %}false{% endif %}" value="{{ variant.id }}">{{ variant.title }}{% if variant.available %}{% else %} - {{ 'products.product.sold_out' | t }}{% endif %}</option>{% endfor %}
              </select>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endpaginate %}
      </div>
     
      <p></p>
      <a href="#" class="btn button" id="setp-addtocart">Add to cart</a>
      <div class="fields-set">
        <div class="sixteen columns alpha">
          <p class="content-space inline-block"></p>
        </div>
      </div>
     </div>
    </section>
    
    <section class="section question" id="section-5" style="display: none;">
     <div class="container-set">
      <div class="mbottom space"></div>
      <div class="middle-content">
      <p class="main-title">
          <span class="pink">h</span>
          <span class="blue">0</span>
          <span class="green">0</span>
          <span class="red">r</span>
          <span class="pink">a</span>
          <span class="blue">y</span>
          <span class="green">!</span>
      </p>
      <p class="bold top">Your new favorite bra is ready to meet you.</p>
      <div class="content-center">
        <div class="progress"></div>
        <div class="section-space"></div>
        <div class="checkout-feilds">
          <a href="/collections/all" class="btn button next-section cont">Keep Shopping</a>
        </div>
        <div class="checkout-feilds">
          <a href="/checkout" id="checkoutbutton" class="btn button disabled">Checkout</a>
        </div>
       </div>
      </div>
     </div>
    </section>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.polyfills.min.js"></script>
<script type="text/javascript">
var scroll = new SmoothScroll('a[href*="#"]', {
    speed: 800,
    speedAsDuration: true,
    offset: 100,
    updateURL: false
});
</script>
{% schema %}
  {
    "name": "Section Get Started",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_klaviyo",
        "label": "Enable Klaviyo",
        "default": true
      },
      {
        "type": "text",
        "id": "klaviyo_list_id",
        "label": "Klaviyo List ID",
        "default": "QLGgJB",
        "info": "Write Klaviyo LIST_ID here"
      }
    ]
  }
{% endschema %}
